name: analyze-istio

on:
  workflow_dispatch:
  pull_request:

jobs:
  check-istio:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: get istio version
        id: get-istio-version
        run: |
          ISTIO_VERSION=$(yq eval '. | select(.kind == "Deployment") | .spec.template.spec.containers[0].image | split(":") | .[1]' ./istio/operator/manifests.yaml)
          echo "ISTIO_VERSION=$ISTIO_VERSION" >> $GITHUB_ENV
      - name: get istioctl uri
        id: get-istioctl
        uses: istio/get-istioctl@7c64a7f9985dfecbca647011af56b2b82ee1121f
        with:
          version: ${{ env.ISTIO_VERSION }}
      - name: Get Istioctl
        run: |
          curl -o istioctl.tar.gz -fsLO ${{ steps.get-istioctl.outputs.istioctl-url }}
          tar -xzf istioctl.tar.gz
          ./istioctl version --remote=false
      - name: Istioctl Analyze
        run: |
          # this command will exit(1) if an error is found in any yaml
          # istio/operator/manifests.yaml contains an empty yaml doc, which
          # throws off analyze, so pass it in separately
          MANIFESTS=$(yq eval '. | select(. | has("kind"))' ./istio/operator/manifests.yaml)

          ISTIO_VERSION=${{ env.ISTIO_VERSION }}

          ./istioctl analyze -A --use-kube=false \
            --failure-threshold ERROR $(find . -not -name *deployment.yaml \
            -not -path "*/.git*/*" -not -path "*/clusters/*" -name "*.yaml" \
            -not -name "*.patch.yaml" /
            -not -path "*/istio/operator/manifests.yaml" -type f) -<<<"$MANIFESTS"
